* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.header-left  > img {
  height: 100px;
  width: 100px;
}

h1 {
  font-size: 30px;
}

.nav {
  display: flex;
}

.nav > li > a {
  color: black;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none; 
}

/* 「bgAnime」という背景色の変わるキーフレームを設定し、それをbodyタグに「animation」プロパティで20秒で再生し続けるという設定です。 */

.box {
  height: 90vh;
  width: 100vw;
  max-width: 100%;
  position: relative;
  margin     : auto;
  overflow   : hidden;
}

/* --- 背景の指定 ------------------------------------------- */
.box .bgImg {
  background-size: cover;
  background-repeat: no-repeat;
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite;   /* 4画像 × 各5s = 20s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.box .src1 {
  background-image : url(../img/640x640_rect_114235783.jpg);   /* 背景の画像を指定 */
}
.box .src2 {
  background-image : url(../img/IMG_3186.jpg);   /* 背景の画像を指定 */
  animation-delay  : 5s;
}
.box .src3 {
  background-image : url(../img/TP200710_kakigori_022.jpg);   /* 背景の画像を指定 */
  animation-delay  : 10s;
}
.box .src4 {
  background-image : url(../img/ETST6CkUUAIHFcE.jpg);   /* 背景の画像を指定 */
  animation-delay  : 15s;
}


@keyframes bgAnime {
  0% { opacity: 0; }
  5% { opacity: 1; }
 25% { opacity: 1; }
 30% { opacity: 0; }
100% { opacity: 0; }
}


h2 {
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
}

h2 > p {
  font-size: 20px;
  margin-top: 70px;
}

h3 {
  margin-bottom: 20px;
}

p {
  margin-top: 20px;

}

.contner{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#line-up, #concept,
#access, #map{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}

.concept-in {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.list-all {
  width: 400px;
  height: 400px;
  max-width: 100%;
  position   : relative;
  margin     : auto;
  overflow   : hidden;
}

.list-all .list {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 15s infinite;
}

.list-all .src1 {
  background-image: url(../img/D107DABA-6210-4E9A-B70A-BEF8459515E2.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
}

.list-all .src2 {
  background-image: url(../img/thumb.jpeg);
  animation-delay  : 5s;
  background-size: contain;
  background-repeat: no-repeat;
}

.list-all .src3 {
  background-image: url(../img/kitchen_zen_summuer.jpg);
  animation-delay  : 10s;
  background-size: contain;
  background-repeat: no-repeat;
}



table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 70px;
}

tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}

th {
  font-size: 15px;
  margin-top: 70px;
}


.baka {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 50px;
}

.ta {
  display: flex;
  justify-content: left;
  text-align: left;
}

.contact-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}


input,textarea,button {
  border-radius: 5px;
}

input, textarea {
  width: 40%;
  font-size: 23px;
  margin-bottom: 18px;
  padding: 3px 12px;
}

button {
  width: 140px;
  height: 60px;
  font-size: 23px;
  padding: 7px;
  background-color: black;
  color: white;
  cursor: pointer;
}

#contact {
  margin-bottom: 50px;
}


footer {
  color: black;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
  font-size: 20px;
}